@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a client server application for working with arbitrary information cards</p>
    <a class="nav-link text-dark" asp-area="" asp-page="/Pizza">Pizza List</a>
</div>
